body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: currentColor;
}

/* Header section */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-dark {
  color: #2e2f42;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
/* .header-menu-link:active {
  text-decoration: underline;
} */
.contact-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-list-item:hover,
.contact-list-item:focus {
  color: #404bbf;
}
